extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="imagen sobre nosotros" class="img-fluid")
            .col-md-7
                h1 #{pagina}
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae porta purus, non mollis nulla. Aliquam consequat orci at scelerisque feugiat. Nunc nec lacus dolor. Morbi varius consectetur turpis sed mollis. Duis eu sagittis nunc, sit amet consectetur mi. Maecenas eu nibh nisl. Morbi sapien sapien, malesuada sit amet risus vel, semper fringilla nulla. Proin molestie porttitor libero ut facilisis. Vestibulum quis volutpat magna. Fusce non bibendum purus. Aliquam erat volutpat. Curabitur eu neque scelerisque turpis gravida volutpat. Sed lorem mi, cursus vitae ligula at, luctus interdum est. Curabitur nunc nulla, lacinia ut rutrum vehicula, aliquam in dolor. 

                p Curabitur ex sem, viverra eget sollicitudin at, mattis id tellus. Pellentesque condimentum ligula non velit tristique, in porta diam euismod. Cras lacinia feugiat ornare. Vivamus sit amet aliquet nulla, ac viverra justo. Donec id aliquet metus, vitae scelerisque dolor. Sed nec neque tincidunt, vestibulum lacus quis, scelerisque urna. Nulla orci nibh, convallis vel est in, condimentum faucibus leo. Curabitur viverra elit sapien, et ultricies augue bibendum eget. Proin nisi est, molestie ac ante eget, placerat vehicula nisl. Maecenas at velit mauris. Nulla eu ultricies mi. Sed elementum pretium lacus, a auctor lectus interdum imperdiet. 

                p Pellentesque lacinia purus et nisl pretium lacinia. Sed tincidunt ipsum ac gravida vulputate. Proin vehicula mattis euismod. Duis placerat velit vitae consectetur tempus. Integer pulvinar sapien nec accumsan commodo. Morbi consequat elit sed ex sollicitudin elementum. In posuere ultricies purus quis aliquam. Cras dictum mi a eros fringilla, a sodales ex fermentum. Duis et orci scelerisque sem vehicula posuere. Pellentesque venenatis gravida massa, non tincidunt massa dapibus in. Pellentesque nec massa sit amet augue maximus tempor. Fusce sit amet scelerisque sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus.
    
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad
                    p Pellentesque lacinia purus et nisl pretium lacinia. Sed tincidunt ipsum ac gravida vulputate. Proin vehicula mattis euismod.
                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores Destinos
                    p Pellentesque lacinia purus et nisl pretium lacinia. Sed tincidunt ipsum ac gravida vulputate. Proin vehicula mattis euismod.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Pellentesque lacinia purus et nisl pretium lacinia. Sed tincidunt ipsum ac gravida vulputate. Proin vehicula mattis euismod.
